@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,500,600,700&display=swap");
html {
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #3D5278;
  background-color: #F6F7F9;
}

section {
  position: relative;
  overflow: visible;
  width: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(19, 19, 19, 0.6);
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  font-size: 14px;
  line-height: 2;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 12px;
}

.main-content {
  overflow: hidden;
}

.main-header {
  width: 100%;
  border: 1px solid rgba(195, 212, 233, 0.4);
  background-color: #fff;
}
.main-header__wrap {
  height: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 575.98px) {
  .main-header__wrap {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 32px 0;
  }
}
.main-header__logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 575.98px) {
  .main-header__logo-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
}
.main-header__logo-block .logo {
  margin-bottom: 24px;
}
@media (max-width: 575.98px) {
  .main-header__user-block {
    margin-bottom: 30px;
    width: 100%;
  }
}
.main-header__search-block {
  margin-left: 64px;
}
@media (max-width: 575.98px) {
  .main-header__search-block {
    margin-left: 0;
    width: 100%;
  }
}

.logo {
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #3563E9;
}
@media (max-width: 575.98px) {
  .logo {
    font-size: 24px;
    letter-spacing: normal;
  }
}

.search-block {
  position: relative;
}
.search-block__input {
  min-width: 492px;
  position: relative;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #3D5278;
  background-image: url("../img/header/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 20px center;
  height: 44px;
  padding: 0 55px 0 64px;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 70px;
}
.search-block__input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #3D5278;
}
.search-block__input::-moz-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #3D5278;
}
.search-block__input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #3D5278;
}
.search-block__input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #3D5278;
}
.search-block__input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #3D5278;
}
@media (max-width: 575.98px) {
  .search-block__input {
    min-width: auto;
    padding: 0 35px 0 56px;
    height: 48px;
    border-radius: 10px;
  }
}
.search-block__filter {
  border-radius: 70px;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
  cursor: pointer;
}
@media (max-width: 575.98px) {
  .search-block__filter {
    right: 0;
    border: 1px solid rgba(195, 212, 233, 0.4);
    border-radius: 10px;
    padding: 12px;
  }
}
.user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-menu {
  display: none;
  width: 24px;
  height: 25px;
  position: relative;
  padding: 6px 2px;
}
@media (max-width: 575.98px) {
  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.burger-menu__line {
  width: 20px;
  height: 2px;
  border-radius: 4px;
  background-color: #3D5278;
  margin-bottom: 5px;
  display: block;
}
.burger-menu__line_bottom {
  margin-bottom: 0;
}

.user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user-menu__link {
  margin-right: 20px;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 90px;
  padding: 10px;
  position: relative;
}
@media (max-width: 575.98px) {
  .user-menu__link {
    display: none;
  }
}
.user-menu__link:nth-child(2)::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #FF4423;
  top: 0px;
  right: 2px;
}
@media (max-width: 575.98px) {
  .user-menu__user-photo {
    width: 28px;
  }
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.filter-block {
  background-color: #fff;
  padding: 32px;
  min-width: 360px;
  border-right: 1px solid #F3F5F7;
}
@media (max-width: 575.98px) {
  .filter-block {
    display: none;
  }
}
.filter-block__container {
  margin-bottom: 56px;
}
.filter-block__container:last-child {
  margin-bottom: 0;
}
.filter-block__headline {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #94A7CB;
  margin-bottom: 28px;
  text-transform: uppercase;
}

.form-check__quantity {
  font-weight: 500;
  color: #90A3BF;
  padding-left: 6px;
}

.form-check-input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.form-check-label {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #3D5278;
  margin-bottom: 32px;
}

.form-range {
  margin-bottom: 12px;
}

.form-label {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #3D5278;
}

.content-block {
  padding: 32px;
  width: calc(100% - 360px);
}
@media (max-width: 575.98px) {
  .content-block {
    padding: 32px 24px 24px;
    width: 100%;
  }
}
.content-block__car-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}
@media (max-width: 575.98px) {
  .content-block__car-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.content-block__reviews {
  padding: 24px;
  background-color: #fff;
  margin-bottom: 32px;
  border-radius: 10px;
}
@media (max-width: 575.98px) {
  .content-block__reviews {
    padding: 16px;
  }
}
.image-gallery {
  margin-right: 32px;
}
@media (max-width: 575.98px) {
  .image-gallery {
    margin-right: 0;
    margin-bottom: 32px;
  }
}
.image-gallery__main-image {
  margin-bottom: 24px;
}
@media (max-width: 575.98px) {
  .image-gallery__main-image {
    width: 100%;
    border-radius: 10px;
  }
}
.image-gallery__additional-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.image-gallery__small-image:first-child {
  width: 148px;
  height: 124px;
}
@media (max-width: 575.98px) {
  .image-gallery__small-image:first-child {
    width: 96px;
    height: 64px;
    border-radius: 10px;
  }
}
@media (max-width: 575.98px) {
  .image-gallery__small-image {
    width: 96px;
    height: 64px;
    border-radius: 10px;
  }
}

.description-block {
  padding: 24px 24px 32px;
  background-color: #FFFFFF;
  border-radius: 10px;
}
@media (max-width: 575.98px) {
  .description-block {
    padding: 16px;
  }
}
.description-block__headline-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 32px;
}
@media (max-width: 575.98px) {
  .description-block__headline-block {
    margin-bottom: 16px;
  }
}
.description-block__headline {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.4;
  color: #1A202C;
  margin-bottom: 5px;
}
@media (max-width: 575.98px) {
  .description-block__headline {
    font-size: 20px;
  }
}
.description-block__stars-block-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.description-block__stars-block {
  margin-right: 8px;
}
.description-block__info {
  font-weight: 500;
  line-height: 1.3;
  white-space: pre-wrap;
  letter-spacing: 0.02em;
}
@media (max-width: 575.98px) {
  .description-block__info {
    font-size: 12px;
  }
}
.description-block__text {
  font-size: 20px;
  margin-bottom: 32px;
}
@media (max-width: 575.98px) {
  .description-block__text {
    font-size: 12px;
    margin-bottom: 16px;
  }
}
.description-block__properties {
  margin-bottom: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 575.98px) {
  .description-block__properties {
    margin-bottom: 32px;
  }
}
.description-block__price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: revert;
          flex-direction: revert;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.description-block__rent-button {
  min-width: 140px;
  height: 56px;
}

.stars-block__star {
  margin-right: 3px;
}
@media (max-width: 575.98px) {
  .stars-block__star {
    width: 12px;
    margin-right: 4px;
  }
}
.stars-block__star:last-child {
  margin-right: 0;
}

.properties-box {
  width: 40%;
}
@media (max-width: 575.98px) {
  .properties-box {
    width: 45%;
  }
}

.properties-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.properties-wrap:first-child {
  margin-bottom: 16px;
}
.properties-wrap__key {
  font-size: 20px;
  line-height: 1.3;
  color: #90A3BF;
}
@media (max-width: 575.98px) {
  .properties-wrap__key {
    font-size: 12px;
  }
}
.properties-wrap__value {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
}
@media (max-width: 575.98px) {
  .properties-wrap__value {
    font-size: 12px;
  }
}

@media (max-width: 575.98px) {
  .price-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.price-wrap__main-price {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.3;
  color: #1A202C;
}
@media (max-width: 575.98px) {
  .price-wrap__main-price {
    font-size: 20px;
  }
}
.price-wrap__main-price-part {
  font-size: 16px;
  color: #90A3BF;
}
@media (max-width: 575.98px) {
  .price-wrap__main-price-part {
    font-size: 12px;
  }
}
.price-wrap__old-price {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #90A3BF;
}
@media (max-width: 575.98px) {
  .price-wrap__old-price {
    font-size: 12px;
  }
}

.rent-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 30px;
  font-weight: 700;
  line-height: 1.3;
}

.reviews__headline {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #1A202C;
  margin-bottom: 32px;
}
@media (max-width: 575.98px) {
  .reviews__headline {
    margin-bottom: 24px;
  }
}
.reviews__quantity {
  display: inline-block;
  background-color: #3563E9;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  color: #FFFFFF;
  margin-left: 12px;
  padding: 6px 12px;
  letter-spacing: normal;
}
.reviews__button-block {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews__button {
  text-align: center;
  display: inline-block;
  padding: 10px 24px 10px 0;
  font-weight: 600;
  line-height: 1.3;
  color: #90A3BF;
  position: relative;
}
.reviews__button::after {
  content: url("../img/main-section/arrow-down.svg");
  display: inline-block;
  position: absolute;
  right: 0;
  top: 56%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (max-width: 575.98px) {
  .reviews__button {
    font-size: 14px;
    padding: 10px 22px 10px 0;
  }
}

.reviews-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.reviews-block:nth-child(2) {
  margin-bottom: 24px;
}
@media (max-width: 575.98px) {
  .reviews-block:nth-child(2) {
    margin-bottom: 20px;
  }
}

.reviews-photo {
  margin-right: 16px;
}
@media (max-width: 575.98px) {
  .reviews-photo {
    width: 44px;
    margin-right: 8px;
  }
}

.reviews-info__headline-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 12px;
}
@media (max-width: 575.98px) {
  .reviews-info__headline-block {
    margin-bottom: 16px;
  }
}
.reviews-info__headline-wrap:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.reviews-info__name {
  font-weight: 700;
  line-height: 1.3;
  color: #1A202C;
  margin-bottom: 8px;
}
@media (max-width: 575.98px) {
  .reviews-info__name {
    font-size: 16px;
  }
}
.reviews-info__profession {
  font-weight: 500;
  line-height: 1.3;
  color: #90A3BF;
  white-space: pre-wrap;
}
@media (max-width: 575.98px) {
  .reviews-info__profession {
    font-size: 12px;
    letter-spacing: -0.01em;
  }
}
.reviews-info__date {
  font-weight: 500;
  line-height: 1.3;
  color: #90A3BF;
  white-space: pre-wrap;
  margin-bottom: 8px;
}
@media (max-width: 575.98px) {
  .reviews-info__date {
    font-size: 12px;
    letter-spacing: -0.01em;
  }
}
@media (max-width: 575.98px) {
  .reviews-info__text {
    font-size: 12px;
  }
}
.reviews-info__text-point {
  display: none;
}
@media (max-width: 575.98px) {
  .reviews-info__text-point {
    display: inline;
  }
}
@media (max-width: 575.98px) {
  .reviews-info__text-end {
    display: none;
  }
}

.car-catalog__block:first-child {
  margin-bottom: 32px;
}
.car-catalog__headline-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  padding: 0 32px 0 20px;
  margin-bottom: 16px;
}
@media (max-width: 575.98px) {
  .car-catalog__headline-block {
    height: 20px;
    padding: 0;
    margin-bottom: 20px;
  }
}
.car-catalog__headline {
  font-weight: 600;
  line-height: 1.3;
  color: #90A3BF;
}
@media (max-width: 575.98px) {
  .car-catalog__headline {
    font-size: 14px;
  }
}
.car-catalog__button {
  font-weight: 600;
  line-height: 1.3;
  color: #3563E9;
}
@media (max-width: 575.98px) {
  .car-catalog__button {
    font-size: 14px;
  }
}
.car-catalog__card-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.car-catalog__card {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 24px;
  min-width: 317px;
  margin-right: 32px;
}
@media (max-width: 575.98px) {
  .car-catalog__card {
    padding: 16px;
    min-width: 240px;
    margin-right: 20px;
  }
}
.car-catalog__name-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 38px;
}
@media (max-width: 575.98px) {
  .car-catalog__name-wrap {
    margin-bottom: 16px;
  }
}
.car-catalog__name {
  font-weight: 700;
  line-height: 1.3;
  color: #1A202C;
  margin-bottom: 4px;
}
@media (max-width: 575.98px) {
  .car-catalog__name {
    font-size: 16px;
  }
}
.car-catalog__type {
  font-weight: 700;
  line-height: 1.3;
  color: #90A3BF;
  letter-spacing: normal;
}
@media (max-width: 575.98px) {
  .car-catalog__type {
    font-size: 12px;
  }
}
.car-catalog__image-wrap {
  height: 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 28px;
}
@media (max-width: 575.98px) {
  .car-catalog__image-wrap {
    height: 84px;
    margin-bottom: 32px;
  }
}
.car-catalog__image {
  width: 100%;
}
@media (max-width: 575.98px) {
  .car-catalog__image {
    width: 85%;
  }
}
.car-catalog__properties-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 32px;
}
@media (max-width: 575.98px) {
  .car-catalog__properties-wrap {
    margin-bottom: 28px;
  }
}
.car-catalog__properties-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.car-catalog__properties-image {
  margin-right: 8px;
}
@media (max-width: 575.98px) {
  .car-catalog__properties-image {
    width: 14px;
    margin-right: 4px;
  }
}
.car-catalog__properties-text {
  font-weight: 500;
  line-height: 1.3;
  color: #90A3BF;
  letter-spacing: normal;
}
@media (max-width: 575.98px) {
  .car-catalog__properties-text {
    font-size: 12px;
  }
}
.car-catalog__price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
}
.car-catalog__main-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  color: #1A202C;
  letter-spacing: normal;
}
@media (max-width: 575.98px) {
  .car-catalog__main-price {
    font-size: 16px;
  }
}
.car-catalog__main-price-part {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  color: #90A3BF;
}
@media (max-width: 575.98px) {
  .car-catalog__main-price-part {
    font-size: 12px;
  }
}
.car-catalog__old-price {
  font-weight: 700;
  line-height: 1.3;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #90A3BF;
  letter-spacing: normal;
}
@media (max-width: 575.98px) {
  .car-catalog__old-price {
    font-size: 12px;
  }
}
.car-catalog__rent-button {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  padding: 0 20px;
  height: 44px;
}
@media (max-width: 575.98px) {
  .car-catalog__rent-button {
    font-size: 12px;
    height: 36px;
  }
}

.main-footer {
  background-color: #fff;
  padding: 20px 0;
}
@media (max-width: 575.98px) {
  .main-footer {
    padding: 24px 0;
    background-color: transparent;
  }
}
.main-footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 60px 0;
  border-bottom: 1px solid rgba(19, 19, 19, 0.16);
}
@media (max-width: 575.98px) {
  .main-footer__menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    border-bottom: none;
  }
}
.main-footer__text {
  max-width: 292px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: rgba(19, 19, 19, 0.6);
}
@media (max-width: 575.98px) {
  .main-footer__text {
    font-size: 12px;
    max-width: 225px;
  }
}
.main-footer__copyright-block {
  padding: 48px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 575.98px) {
  .main-footer__copyright-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 24px 0 0;
  }
}

.footer-logo-wrap {
  width: 50%;
}
@media (max-width: 575.98px) {
  .footer-logo-wrap {
    width: 100%;
    margin-bottom: 24px;
  }
}
.footer-logo-wrap__logo-block {
  margin-bottom: 16px;
}

.footer-block-wrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 575.98px) {
  .footer-block-wrap {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 575.98px) {
  .footer-block {
    width: 50%;
    padding: 24px 0;
  }
}
@media (max-width: 575.98px) {
  .footer-block:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media (max-width: 575.98px) {
  .footer-block:nth-child(3) {
    width: 40%;
  }
}
.footer-block__headline {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #131313;
  margin-bottom: 24px;
}
@media (max-width: 575.98px) {
  .footer-block__headline {
    margin-bottom: 16px;
  }
}
.footer-block__list-item {
  margin-bottom: 24px;
}
.footer-block__list-item:last-child {
  margin-bottom: 0;
}
.copyright-block__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 2;
  letter-spacing: -0.01em;
  color: #131313;
}
@media (max-width: 575.98px) {
  .copyright-block__text {
    font-size: 12px;
  }
}
.copyright-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 575.98px) {
  .copyright-block__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-bottom: 32px;
  }
}
.copyright-block__list-item:first-child {
  margin-right: 60px;
}
@media (max-width: 575.98px) {
  .copyright-block__list-item:first-child {
    margin-right: 0;
  }
}
.copyright-block__link {
  font-weight: 600;
  line-height: 2;
  letter-spacing: -0.01em;
  color: #131313;
}
@media (max-width: 575.98px) {
  .copyright-block__link {
    font-size: 12px;
  }
}