@import "_variables";
.main-section {
    display: flex;
    flex-direction: row;
}
.filter-block {
    display: block;
    background-color: #fff;
    padding: 32px;
    width: calc(50% - 400px);
    border-right: 1px solid #F3F5F7;
    position: absolute;
    height: 100%;
    @media(max-width: 1199.98px){
        width: calc(50% - 180px);
    }
    @media(max-width: 991.98px){
        width: calc(50% - 160px);
        padding: 24px;
    }
    @media(max-width: 767.98px){
        display: none;
    }
    &__container {
        margin-bottom: 56px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__headline {
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #94A7CB;
        margin-bottom: 28px;
        text-transform: uppercase;
    }
}
.form-check {
    &__quantity {
        font-weight: 500;
        color: #90A3BF;
        padding-left: 6px;
    }
}
.form-check-input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    @media(max-width: 1199.98px){
        margin-top: 5px;
    }
}
.form-check-label {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #3D5278;
    margin-bottom: 32px;
}
.form-range {
    margin-bottom: 12px;
}
.form-label {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #3D5278;
}
.content-block {
    padding: 32px 0 32px 32px;
    width: calc(100% - 248px);
    margin-left: auto;
    @media(max-width: 1199.98px){
        padding: 32px 0 24px;
        width: calc(100% - 320px);
    }
    @media(max-width: 991.98px){
        padding: 32px 0 24px;
        width: calc(100% - 220px);
    }
    @media(max-width: 767.98px){
        width: 100%;
    }
		&__car-description {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 32px;
            @media(max-width: 1199.98px){
                flex-direction: column;
                justify-content: flex-start;
            }
        }
		&__reviews {
            padding: 24px;
            background-color: #fff;
            margin-bottom: 32px;
            border-radius: 10px;
            @media(max-width: 575.98px){
                padding: 16px;
            }
        }
		&__car-catalog {}
}
.image-gallery {
    margin-right: 32px;
    @media(max-width: 1199.98px){
        margin-right: 0;
        margin-bottom: 32px;
    }
        &__main-image {
            margin-bottom: 24px;
            border-radius: 10px;
            @media(max-width: 1199.98px){
                width: 100%;
            }
        }
		&__additional-block {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
		&__small-image {
            &:first-child{
                width: 148px;
                height: 124px;
                @media(max-width: 575.98px){
                    width: 96px;
                    height: 64px;
                    border-radius: 10px;
                }
            }
            @media(max-width: 575.98px){
                width: 96px;
                height: 64px;
                border-radius: 10px;
            }
        }
}
.description-block {
    padding: 24px 24px 32px;
    background-color: #FFFFFF;
    border-radius: 10px;   
    @media(max-width: 575.98px){
        padding: 16px;
    } 
		&__headline-block {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 32px;
            @media(max-width: 575.98px){
                margin-bottom: 16px;
            } 
        }
		&__headline-wrap {}
		&__headline {
            font-weight: 700;
            font-size: 32px;
            line-height: 1.4;
            color: #1A202C;
            margin-bottom: 5px;
            @media(max-width: 575.98px){
                font-size: 20px;
            } 
        }
		&__stars-block-info {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
        }
		&__stars-block {
            margin-right: 8px;
        }
		&__info {
            font-weight: 500;
            line-height: 1.3;
            white-space: pre-wrap;
            letter-spacing: 0.02em;
            @media(max-width: 575.98px){
                font-size: 12px;
            } 
        }
		&__like-icon {
        }
		&__text {
            font-size: 20px;
            margin-bottom: 32px;
            @media(max-width: 575.98px){
                font-size: 12px;
                margin-bottom: 16px;
            } 
        }
		&__properties {
            margin-bottom: 68px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            @media(max-width: 575.98px){
                margin-bottom: 32px;
            } 
        }
		&__price-block {
            display: flex;
            flex-direction: revert;
            justify-content: space-between;
            align-items: stretch;
        }
        &__rent-button{
            min-width: 140px;
            height: 56px;
        }
}
.stars-block {
    &__star {
        margin-right: 3px;
        @media(max-width: 575.98px){
            width: 12px;
            margin-right: 4px;
        }
        &:last-child{
            margin-right: 0;
        }
    }
}
.properties-box{
    width: 43%;
    @media(max-width: 575.98px){
        width: 45%;
    } 
}
.properties-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    &:first-child{
        margin-bottom: 16px;
    }
		&__key {
            font-size: 20px;
            line-height: 1.3;
            color: #90A3BF;
            @media(max-width: 991.98px){
                font-size: 18px;
            } 
            @media(max-width: 575.98px){
                font-size: 12px;
            } 
        }
        &__value{
            font-weight: 600;
            font-size: 20px;
            line-height: 1.3;
            @media(max-width: 991.98px){
                font-size: 18px;
            } 
            @media(max-width: 575.98px){
                font-size: 12px;
            } 
        }
}
.price-wrap {
    @media(max-width: 575.98px){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        align-items: flex-start;
    }
		&__main-price {
            font-weight: 700;
            font-size: 28px;
            line-height: 1.3;
            color: #1A202C;
            @media(max-width: 575.98px){
                font-size: 20px;
            } 
        }
        &__main-price-part{
            font-size: 16px;
            color: #90A3BF;
            @media(max-width: 575.98px){
                font-size: 12px;
            } 
        }
		&__old-price {
            font-weight: 700;
            font-size: 16px;
            line-height: 1.3;
            text-decoration-line: line-through;
            color: #90A3BF;
            @media(max-width: 575.98px){
                font-size: 12px;
            }
        }
}
.rent-button {
    width: fit-content;
    padding: 0 30px;
    font-weight: 700;
    line-height: 1.3;
}
.reviews {
    &__headline {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.3;
        letter-spacing: -0.02em;
        color: #1A202C;
        margin-bottom: 32px;
        @media(max-width: 575.98px){
            margin-bottom: 24px;
        }
    }
    &__quantity {
        display: inline-block;
        background-color: #3563E9;
        border-radius: 4px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.3;
        color: #FFFFFF;
        margin-left: 12px;
        padding: 6px 12px;
        letter-spacing: normal;
    }
    &__button-block{
        padding-top: 24px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    &__button {
        text-align: center;
        display: inline-block;
        padding: 10px 24px 10px 0;
        font-weight: 600;
        line-height: 1.3;
        color: #90A3BF;
        position: relative;
        &::after{
            content: url("../img/main-section/arrow-down.svg");
            display: inline-block;
            position: absolute;
            right: 0;
            top: 56%;
            transform: translateY(-50%);
        }
        @media(max-width: 575.98px){
            font-size: 14px;
            padding: 10px 22px 10px 0;
        }
    }
}
.reviews-block {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
    &:nth-child(2){
        margin-bottom: 24px;
        @media(max-width: 575.98px){
            margin-bottom: 20px;
        }
    }
}
.reviews-photo {
    margin-right: 16px;
    @media(max-width: 575.98px){
        width: 44px;
        margin-right: 8px;
    }
}
.reviews-info {
    &__headline-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 12px;
        @media(max-width: 575.98px){
            margin-bottom: 16px;
        }
    }
    &__headline-wrap {
        &:last-child{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }
    &__name {
        font-weight: 700;
        line-height: 1.3;
        color: #1A202C;
        margin-bottom: 8px;
        @media(max-width: 575.98px){
            font-size: 16px;
        }
    }
    &__profession {
        font-weight: 500;
        line-height: 1.3;
        color: #90A3BF;
        white-space: pre-wrap;
        @media(max-width: 575.98px){
            font-size: 12px;
            letter-spacing: -0.01em;
        }
    }
    &__date {
        font-weight: 500;
        line-height: 1.3;
        color: #90A3BF;
        white-space: pre-wrap;
        margin-bottom: 8px;
        @media(max-width: 575.98px){
            font-size: 12px;
            letter-spacing: -0.01em;
        }
    }
    &__text{
        @media(max-width: 575.98px){
            font-size: 12px;
        }
    }
    &__text-point{
        display: none;
        @media(max-width: 767.98px){
            display: inline;
        }
    }
    &__text-end{
        @media(max-width: 767.98px){
            display: none;
        }
    }
}
.car-catalog {
    &__block {
        &:first-child{
            margin-bottom: 32px;
        }
    }
    &__headline-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 44px;
        padding: 0 32px 0 20px;
        margin-bottom: 16px;
        @media(max-width: 575.98px){
            height: 20px;
            padding: 0;
            margin-bottom: 20px;
        }
    }
    &__headline {
        font-weight: 600;
        line-height: 1.3;
        color: #90A3BF;
        @media(max-width: 575.98px){
            font-size: 14px;
        }
    }
    &__button {
        font-weight: 600;
        line-height: 1.3;
        color: #3563E9;
        @media(max-width: 575.98px){
            font-size: 14px;
        }
    }
    &__card-block {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__card {
        background: #FFFFFF;
        border-radius: 10px;
        padding: 24px;
        min-width: 317px;
        margin-right: 32px;
        @media(max-width: 575.98px){
            padding: 16px;
            min-width: 240px;
            margin-right: 20px;
        }
        &:last-child{
            margin-right: 0;
        }
    }
    &__name-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 38px;
        @media(max-width: 575.98px){
            margin-bottom: 16px;
        }
    }
    &__name-block {}
    &__name {
        font-weight: 700;
        line-height: 1.3;
        color: #1A202C;
        margin-bottom: 4px;
        @media(max-width: 575.98px){
            font-size: 16px;
        }
    }
    &__type {
        font-weight: 700;
        line-height: 1.3;
        color: #90A3BF;
        letter-spacing: normal;
        @media(max-width: 575.98px){
            font-size: 12px;
        }
    }
    &__image-wrap{
        height: 122px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 28px;
        @media(max-width: 575.98px){
            height: 84px;
            margin-bottom: 32px;
        }
    }
    &__image{
        width: 100%;
        @media(max-width: 575.98px){
            width: 85%;
        }
    }
    &__properties-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 32px;
        @media(max-width: 575.98px){
            margin-bottom: 28px;
        }
    }
    &__properties-box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__properties-image {
        margin-right: 8px;
        @media(max-width: 575.98px){
            width: 14px;
            margin-right: 4px;
        }
    }
    &__properties-text {
        font-weight: 500;
        line-height: 1.3;
        color: #90A3BF;
        letter-spacing: normal;
        @media(max-width: 575.98px){
            font-size: 12px;
        }
    }
    &__price-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 45px;
    }
    &__price-wrap {}
    &__main-price {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.3;
        color: #1A202C;
        letter-spacing: normal;
        @media(max-width: 575.98px){
            font-size: 16px;
        }
    }
    &__main-price-part {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.3;
        color: #90A3BF;
        @media(max-width: 575.98px){
            font-size: 12px;
        }
    }
    &__old-price {
        font-weight: 700;
        line-height: 1.3;
        text-decoration-line: line-through;
        color: #90A3BF;
        letter-spacing: normal;
        @media(max-width: 575.98px){
            font-size: 12px;
        }
    }
    &__rent-button {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.3;
        padding: 0 20px;
        height: 44px;
        @media(max-width: 575.98px){
            font-size: 12px;
            height: 36px;
        }
    }
}
.card-catalog {
    &__like-icon {}
}




