@import "_variables";
@import "./main-section-parts/_car-description";
@import "./main-section-parts/_reviews";
@import "./main-section-parts/_car-catalog";
.main-section {
    display: flex;
    flex-direction: row;
}
.filter-block {
    display: block;
    background-color:$bg-color-prime;
    padding: 32px;
    width: calc(50% - 400px);
    border-right: 1px solid #F3F5F7;
    position: absolute;
    height: 100%;
    z-index: 5;
    @media(max-width: 1399.98px){
        width: calc(50% - 307px);
    }
    @media(max-width: 1199.98px){
        width: calc(50% - 180px);
    }
    @media(max-width: 991.98px){
        width: calc(50% - 160px);
        padding: 24px;
    }
    @media(max-width: 767.98px){
        display: none;
        width: calc(50% - 48px);
        background-color: $bg-color-secondary;
    }
    @media(max-width: 575.98px){
        width: calc(50% + 30px);
    }
    &__container {
        margin-bottom: 56px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__headline {
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: $filter-block-headline-color;
        margin-bottom: 28px;
        text-transform: uppercase;
    }
}
.form-check {
    &__quantity {
        font-weight: 500;
        color: $form-check-quantity-color;
        padding-left: 6px;
    }
}
.form-check-input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    @media(max-width: 1199.98px){
        margin-top: 5px;
    }
    @media(max-width: 1199.98px){
        margin-top: 2px;
    }
}
.form-check-label {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: $form-label-color;
    margin-bottom: 32px;
    @media(max-width: 1199.98px){
        font-size: 16px;
    }
}
.form-range {
    margin-bottom: 12px;
}
.form-label {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: $form-label-color;
    @media(max-width: 1199.98px){
        font-size: 16px;
    }
}
.content-block {
    padding: 32px 0 32px 32px;
    width: calc(100% - 248px);
    margin-left: auto;
    @media(max-width: 1399.98px){
        padding: 32px 0;
        width: calc(100% - 280px);
    }
    @media(max-width: 1199.98px){
        padding: 32px 0 24px;
        width: calc(100% - 320px);
    }
    @media(max-width: 991.98px){
        width: calc(100% - 220px);
    }
    @media(max-width: 767.98px){
        width: 100%;
    }
		&__car-description {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 32px;
            @media(max-width: 1399.98px){
                flex-direction: column;
            }
            @media(max-width: 1199.98px){
                justify-content: flex-start;
            }
        }
		&__reviews {
            padding: 24px;
            background-color: #fff;
            margin-bottom: 32px;
            border-radius: 10px;
            @media(max-width: 575.98px){
                padding: 16px;
            }
        }
}









