@import "_variables";
html {
    height: 100vh;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #3D5278;
    background-color: #F6F7F9;
}
section {
    position: relative;
    overflow: visible;
    width: 100%;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: rgba(19, 19, 19, 0.6);
}
p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}
p{
    font-size: 14px;
    line-height: 2;
    letter-spacing: -0.02em;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 12px;
}
.main-content {
    overflow: hidden;
}