/* Colors */

$bg-color-prime: #fff;
$bg-color-secondary: #F6F7F9;


$body-color: #3D5278;
$link-color: rgba(19, 19, 19, 0.6);
$logo-color: #3563E9;
$search-block-color: #3D5278;
$search-placeholder-color: #3D5278;
$burger-line-color: #3D5278;
$header-link-alert-color: #FF4423;

$filter-block-headline-color:#94A7CB; 
$form-check-quantity-color:#90A3BF;
$form-label-color:#3D5278;

$footer-text-color: rgba(19, 19, 19, 0.6);
$footer-copyright-text-color: #131313; 
$footer-copyright-link-color: #131313;