/* Colors */
$bg-color-prime: #fff;
$bg-color-secondary: #F6F7F9;

$body-color: #3D5278;
$link-color: rgba(19, 19, 19, 0.6);
$logo-color: #3563E9;
$search-block-color: #3D5278;
$search-placeholder-color: #3D5278;
$burger-line-color: #3D5278;
$header-link-alert-color: #FF4423;

$filter-block-headline-color:#94A7CB; 
$form-check-quantity-color:#90A3BF;
$form-label-color:#3D5278;

$car-description-headline-color: #1A202C;
$properties-key-color:#90A3BF;

$main-price-color:#1A202C;
$main-price-part-color:#90A3BF;
$old-price-color: #90A3BF;

$like-icon-fill-color: #ED3F3F;
$like-icon-stroke-color-prime: #90A3BF;
$like-icon-stroke-color-secondary: #ED3F3F;

$reviews-headline-color: #1A202C;
$reviews-button-color: #90A3BF;
$reviews-block-name-color: #1A202C;
$reviews-block-profession-color: #90A3BF;
$reviews-block-date-color: #90A3BF;

$card-catalog-headline-color:#90A3BF;
$card-catalog-button-color:#90A3BF;
$card-block-name-color: #1A202C;
$card-block-type-color:#90A3BF;
$card-block-text-color:#90A3BF;

$footer-text-color: rgba(19, 19, 19, 0.6);
$footer-copyright-text-color: #131313; 
$footer-copyright-link-color: #131313;