@import "../_variables";
.car-catalog {
    &__block {
        &:first-child{
            margin-bottom: 32px;
        }
    }
    &__headline-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 44px;
        padding: 0 32px 0 20px;
        margin-bottom: 16px;
        @media(max-width: 575.98px){
            height: 20px;
            padding: 0;
            margin-bottom: 20px;
        }
    }
    &__headline {
        font-weight: 600;
        line-height: 1.3;
        color: $card-catalog-headline-color;
        @media(max-width: 575.98px){
            font-size: 14px;
        }
    }
    &__button {
        font-weight: 600;
        line-height: 1.3;
        color: $card-catalog-button-color;
        @media(max-width: 575.98px){
            font-size: 14px;
        }
    }
    &__card-block {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        overflow-x: visible;
    }
    &__card {
        background: $bg-color-prime;
        border-radius: 10px;
        padding: 24px;
        min-width: 317px;
        margin-right: 32px;
        @media(max-width: 575.98px){
            padding: 16px;
            min-width: 240px;
            margin-right: 20px;
        }
        &:last-child{
            margin-right: 0;
        }
    }
    &__name-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 38px;
        @media(max-width: 575.98px){
            margin-bottom: 16px;
        }
    }
    &__name {
        font-weight: 700;
        line-height: 1.3;
        color: $card-block-name-color;
        margin-bottom: 4px;
        @media(max-width: 575.98px){
            font-size: 16px;
        }
    }
    &__type {
        font-weight: 700;
        line-height: 1.3;
        color: $card-block-type-color;
        letter-spacing: normal;
        @media(max-width: 575.98px){
            font-size: 12px;
        }
    }
    &__like-icon{
        cursor: pointer;
        & path{
            fill: none;
            stroke: $like-icon-stroke-color-prime;
        }
    }
    &__image-wrap{
        height: 122px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 28px;
        @media(max-width: 575.98px){
            height: 84px;
            margin-bottom: 32px;
        }
    }
    &__image{
        width: 100%;
        @media(max-width: 575.98px){
            width: 85%;
        }
    }
    &__properties-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 32px;
        @media(max-width: 575.98px){
            margin-bottom: 28px;
        }
    }
    &__properties-box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__properties-image {
        margin-right: 8px;
        @media(max-width: 575.98px){
            width: 14px;
            margin-right: 4px;
        }
    }
    &__properties-text {
        font-weight: 500;
        line-height: 1.3;
        color: $card-block-text-color;
        letter-spacing: normal;
        @media(max-width: 575.98px){
            font-size: 12px;
        }
    }
    &__price-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 45px;
    }
    &__main-price {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.3;
        color: $main-price-color;
        letter-spacing: normal;
        @media(max-width: 575.98px){
            font-size: 16px;
        }
    }
    &__main-price-part {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.3;
        color: $main-price-part-color;
        @media(max-width: 575.98px){
            font-size: 12px;
        }
    }
    &__old-price {
        font-weight: 700;
        line-height: 1.3;
        text-decoration-line: line-through;
        color: $old-price-color;
        letter-spacing: normal;
        @media(max-width: 575.98px){
            font-size: 12px;
        }
    }
    &__rent-button {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.3;
        padding: 0 20px;
        height: 44px;
        @media(max-width: 575.98px){
            font-size: 12px;
            height: 36px;
        }
    }
}

.car-catalog__card-block.is-active{
    overflow-x: auto;
}
.car-catalog__button.is-active{
    color: #3563E9;
}
.car-catalog__like-icon.is-clicked path{
    fill: $like-icon-fill-color;
    stroke:$like-icon-stroke-color-secondary;
}